.env
__pycache__/
.tmp/
.vscode/
.azure
data/unstructured/extracted/Power_of_Scale_for_Parameter-Efficient_Prompt_Tuning.json
data/unstructured/extracted/Precise_Zero-Shot_Dense_Retrieval_without_Relevance_Labels.json
data/unstructured/extracted/Prefix-Tuning_Optimizing_Continuous_Prompts_for_Generation.json
